In [1]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

# To print multiple outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Display data to three deciaml places.
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# To print all columns
pd.set_option('max_columns', None)

## data used

In [2]:
code_stock_name = pd.Series(np.array(['NETFLIX', 'Amazon', 'Apple', 'Microsoft', 'NVIDIA', 'Tesla', 
                                     'Autodesk', 'NIKE', 'Pfizer', 'Disney']))
use_stock = pd.DataFrame(
    {
        'stock_name': code_stock_name
    }
)
use_stock.index = np.arange(1,len(use_stock) + 1) # start row index from 1 instead of zero. 

use_stock

   stock_name
1     NETFLIX
2      Amazon
3       Apple
4   Microsoft
5      NVIDIA
6       Tesla
7    Autodesk
8        NIKE
9      Pfizer
10     Disney

## load datasets
* Getting the NASDAQ Symbols in [here](https://finance.yahoo.com/)
* Date : '2015-01-01' to '2021-11-25'

In [3]:
df1 = fdr.DataReader("NFLX", '2015-01-01', '2021-11-25')
df2 = fdr.DataReader("AMZN", '2015-01-01', '2021-11-25')
df3 = fdr.DataReader("AAPL", '2015-01-01', '2021-11-25')
df4 = fdr.DataReader("MSFT", '2015-01-01', '2021-11-25')
df5 = fdr.DataReader("NVDA", '2015-01-01', '2021-11-25')
df6 = fdr.DataReader("TSLA", '2015-01-01', '2021-11-25')
df7 = fdr.DataReader("ADSK", '2015-01-01', '2021-11-25')
df8 = fdr.DataReader("NKE", '2015-01-01', '2021-11-25')
df9 = fdr.DataReader("PFE", '2015-01-01', '2021-11-25')
df10 = fdr.DataReader("DIS", '2015-01-01', '2021-11-25')

df1.shape
df2.shape
df3.shape
df4.shape
df5.shape
df6.shape
df7.shape
df8.shape
df9.shape
df10.shape

(1739, 6)

(1739, 6)

(1738, 6)

(1739, 6)

(1739, 6)

(1739, 6)

(1738, 6)

(1738, 6)

(1738, 6)

(1738, 6)