In [30]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

# To print multiple outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Display data to three deciaml places.
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# To print all columns
pd.set_option('max_columns', None)

## data used

In [31]:
code_stock_name = pd.Series(np.array(['NETFLIX', 'Amazon', 'Apple', 'Microsoft', 'NVIDIA', 'Tesla', 
                                     'Autodesk', 'NIKE', 'Pfizer', 'Disney']))
use_stock = pd.DataFrame(
    {
        'stock_name': code_stock_name
    }
)
use_stock.index = np.arange(1,len(use_stock) + 1) # start row index from 1 instead of zero. 

use_stock

   stock_name
1     NETFLIX
2      Amazon
3       Apple
4   Microsoft
5      NVIDIA
6       Tesla
7    Autodesk
8        NIKE
9      Pfizer
10     Disney

## load datasets
* Getting the NASDAQ Symbols in [here](https://finance.yahoo.com/)
* Date : '2015-01-01' to '2021-11-25'

In [32]:
NETFLIX_df = fdr.DataReader("NFLX", '2015-01-01', '2021-11-25')
AMAZON_df = fdr.DataReader("AMZN", '2015-01-01', '2021-11-25')
APPLE_DF = fdr.DataReader("AAPL", '2015-01-01', '2021-11-25')
MICROSOFT_df = fdr.DataReader("MSFT", '2015-01-01', '2021-11-25')
NVIDIA_df = fdr.DataReader("NVDA", '2015-01-01', '2021-11-25')
TESLA_dF = fdr.DataReader("TSLA", '2015-01-01', '2021-11-25')
AUTODESK_DF = fdr.DataReader("ADSK", '2015-01-01', '2021-11-25')
NIKE_DF = fdr.DataReader("NKE", '2015-01-01', '2021-11-25')
PFIZER_DF = fdr.DataReader("PFE", '2015-01-01', '2021-11-25')
DISNEY_DF = fdr.DataReader("DIS", '2015-01-01', '2021-11-25')

NETFLIX_df.shape
AMAZON_df.shape
APPLE_DF.shape
MICROSOFT_df.shape
NVIDIA_df.shape
TESLA_dF.shape
AUTODESK_DF.shape
NIKE_DF.shape
PFIZER_DF.shape
DISNEY_DF.shape

(1739, 6)

(1739, 6)

(1738, 6)

(1739, 6)

(1739, 6)

(1739, 6)

(1738, 6)

(1738, 6)

(1738, 6)

(1738, 6)

In [33]:
# The shape is not the same because of several reasons.
# For example, Suspended trading occurs because of serious concerns about a company's assets, 
# operations, or other financial information.
# Or a Trading halt is implemented to correct an order imbalance,
# Or If the provider omits a specific day's data, etc..
# So we must match the shape because of the imbalance.

# In this project, I'll take df1(NFLX) as a criteria.


# using 'reindex' to make the same shape
APPLE_df = APPLE_DF.reindex(NETFLIX_df.index)
AUTODESK_df = AUTODESK_DF.reindex(NETFLIX_df.index)
NIKE_df = NIKE_DF.reindex(NETFLIX_df.index)
PFIZER_df = PFIZER_DF.reindex(NETFLIX_df.index)
DISNEY_df = DISNEY_DF.reindex(NETFLIX_df.index)

# Shape is the same.
APPLE_df.shape
AUTODESK_df.shape
NIKE_df.shape
PFIZER_df.shape
DISNEY_df.shape

# Fill the data 
# pandas.DataFrame.fillna : Fill NA/NaN values using the specified method.
# "ffill" : forward fill
APPLE_df.fillna(method="ffill")
AUTODESK_df.fillna(method="ffill")
NIKE_df.fillna(method="ffill")
PFIZER_df.fillna(method="ffill")
DISNEY_df.fillna(method="ffill")

(1739, 6)

(1739, 6)

(1739, 6)

(1739, 6)

(1739, 6)