In [21]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

# To print multiple outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Display data to three deciaml places.
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# To print all columns
pd.set_option('max_columns', None)

## data used

In [22]:
code_stock_name = pd.Series(np.array(['삼성전자']), index=["005930"])
np.array(['삼성전자'])
s = ['삼성전자']
use_stock = pd.DataFrame(
    {
        'stock_name': code_stock_name
    }
)
use_stock

array(['삼성전자'], dtype='<U4')

       stock_name
005930       삼성전자

## load datasets

In [23]:
df1 = fdr.DataReader("005930", '2010-01-02', '2021-11-25')
df1.tail(30)

             Open   High    Low  Close    Volume  Change
Date
2021-10-15  70200  71000  70000  70100  18051612   0.010
2021-10-18  70200  70300  69200  70200  13486391   0.001
2021-10-19  70800  71000  70400  70600   9507991   0.006
2021-10-20  70700  71000  70200  70300  10151638  -0.004
2021-10-21  70300  70600  70000  70200  10891094  -0.001
2021-10-22  70000  70700  70000  70400   8395448   0.003
2021-10-25  69900  70600  69500  70200  10029621  -0.003
2021-10-26  70600  71500  70400  71100  10528252   0.013
2021-10-27  71000  71000  70000  70100  10295316  -0.014
2021-10-28  69500  72200  69500  70700  20644902   0.009
2021-10-29  71200  71600  69700  69800  17016151  -0.013
2021-11-01  70200  70600  69900  69900  11503729   0.001
2021-11-02  70800  72200  70700  71500  16812570   0.023
2021-11-03  71700  71700  70100  70400  12770428  -0.015
2021-11-04  71200  71600  70500  70600  11818987   0.003
2021-11-05  71600  71600  70200  70200  12667743  -0.006
2021-11-08  70400  70600  69800  70600  11121981   0.006
2021-11-09  70300  71000  70100  70500  11159589  -0.001
2021-11-10  70300  70900  70200  70200   9422009  -0.004
2021-11-11  69900  70000  69600  69900  11489122  -0.004
2021-11-12  70200  70900  69900  70600  10087450   0.010
2021-11-15  71700  71900  70900  71400  12420710   0.011
2021-11-16  71500  72000  71300  71300  10919239  -0.001
2021-11-17  71300  71600  70600  70700  11027606  -0.008
2021-11-18  70700  71000  70200  70200  10144957  -0.007
2021-11-19  70400  71400  70100  71200  11954728   0.014
2021-11-22  73300  75200  73000  74900  27506623   0.052
2021-11-23  76000  76000  74500  75300  22029195   0.005
2021-11-24  76000  76200  74100  74800  15652305  -0.007
2021-11-25  75100  75100  73600  73700  12462402  -0.015